n8n_modular_scraper_workflow.json
{
  "name": "Modular Web Scraper - Local Rank Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scraper-webhook",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        300
      ]
    },
    {
      "parameters": {},
      "id": "af6c2e3c-3b4c-4d5e-8f9a-1b2c3d4e5f6g",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url || 'https://www.local-rank.report/scan/e029a8c3-3891-4dce-a61d-1406929d232a' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,tr;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "document"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "navigate"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "none"
            },
            {
              "name": "Sec-Fetch-User",
              "value": "?1"
            }
          ]
        },
        "options": {
          "timeout": 45000,
          "followRedirect": true,
          "ignoreResponseCode": false,
          "response": {
            "responseFormat": "string"
          }
        }
      },
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "HTTP Request - Get HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "notes": "web_client.py modülü - HTML içeriğini alır. Gelişmiş browser headers ile bot detection bypass."
    },
    {
      "parameters": {
        "functionCode": "// js_extractor.py modülü fonksiyonalitesi\n// JavaScript verilerini çıkarır - FIXED VERSION\n\nconst htmlContent = $input.first().json.data || $input.first().json.html_content || $input.first().json.body;\n\n// Extract pinz data - Geliştirilmiş regex patterns\nfunction extractPinzData(html) {\n  const patterns = [\n    /var\\s+pinz\\s*=\\s*(\\[[\\s\\S]*?\\]);/i,\n    /pinz\\s*:\\s*(\\[[\\s\\S]*?\\])/i,\n    /\"pinz\"\\s*:\\s*(\\[[\\s\\S]*?\\])/i,\n    /window\\.pinz\\s*=\\s*(\\[[\\s\\S]*?\\]);/i\n  ];\n  \n  for (const pattern of patterns) {\n    const match = html.match(pattern);\n    if (match && match[1]) {\n      try {\n        let jsonStr = match[1]\n          .replace(/\\\\'/g, \"'\")\n          .replace(/\\\\\"/g, '\"')\n          .replace(/\\btrue\\b/gi, 'true')\n          .replace(/\\bfalse\\b/gi, 'false')\n          .replace(/\\bnull\\b/gi, 'null')\n          .replace(/\\bundefined\\b/gi, 'null')\n          .replace(/,\\s*}/g, '}')\n          .replace(/,\\s*]/g, ']');\n        return JSON.parse(jsonStr);\n      } catch (e) {\n        console.log('Pinz parse error:', e.message);\n        continue;\n      }\n    }\n  }\n  return [];\n}\n\n// Extract scan_guid - Daha robust patterns\nfunction extractScanGuid(html) {\n  const patterns = [\n    /scan_guid['\"]?\\s*[:=]\\s*['\"]([a-f0-9-]{8,})['\"]?/i,\n    /scan[_-]?guid['\"]?\\s*[:=]\\s*['\"]([a-f0-9-]{8,})['\"]?/i,\n    /\"scan_guid\"\\s*:\\s*['\"]([a-f0-9-]{8,})['\"]?/i,\n    /data-scan-guid\\s*=\\s*['\"]([a-f0-9-]{8,})['\"]?/i\n  ];\n  \n  for (const pattern of patterns) {\n    const match = html.match(pattern);\n    if (match && match[1] && match[1].length > 8) {\n      return match[1];\n    }\n  }\n  return '';\n}\n\n// Extract place_id - Kesin patterns for Google Place IDs\nfunction extractPlaceId(html) {\n  const patterns = [\n    /place_id['\"]?\\s*[:=]\\s*['\"]([A-Za-z0-9_-]{10,})['\"]?/i,\n    /\"place_id\"\\s*:\\s*['\"]([A-Za-z0-9_-]{10,})['\"]?/i,\n    /data-place-id\\s*=\\s*['\"]([A-Za-z0-9_-]{10,})['\"]?/i,\n    /(ChIJ[A-Za-z0-9_-]+)/g,\n    /google\\.maps\\.places\\.PlaceId\\s*=\\s*['\"]([A-Za-z0-9_-]+)['\"]?/i\n  ];\n  \n  for (const pattern of patterns) {\n    const matches = html.match(pattern);\n    if (matches) {\n      if (pattern.global) {\n        // For ChIJ pattern, return first valid match\n        for (const match of matches) {\n          if (match.startsWith('ChIJ') && match.length > 15) {\n            return match;\n          }\n        }\n      } else if (matches[1] && matches[1].length > 10) {\n        return matches[1];\n      }\n    }\n  }\n  return '';\n}\n\n// Validate input data\nif (!htmlContent || typeof htmlContent !== 'string') {\n  return {\n    html_content: '',\n    javascript_data: {\n      pinz_array: [],\n      scan_guid: '',\n      place_id: '',\n      pinz_count: 0,\n      error: 'No valid HTML content found'\n    }\n  };\n}\n\n// Extract all JavaScript data\nconst pinzData = extractPinzData(htmlContent);\nconst scanGuid = extractScanGuid(htmlContent);\nconst placeId = extractPlaceId(htmlContent);\n\n// Additional validation\nconst isValidGuid = scanGuid.length >= 8 && /^[a-f0-9-]+$/i.test(scanGuid);\nconst isValidPlaceId = placeId.length >= 10;\n\nreturn {\n  html_content: htmlContent,\n  javascript_data: {\n    pinz_array: pinzData,\n    scan_guid: scanGuid,\n    place_id: placeId,\n    pinz_count: pinzData.length,\n    validation: {\n      valid_guid: isValidGuid,\n      valid_place_id: isValidPlaceId,\n      html_length: htmlContent.length\n    }\n  }\n};"
      },
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Function - Extract JS Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "notes": "js_extractor.py modülü - JavaScript verilerini çıkarır"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.html_content }}",
        "rules": {
          "rules": [
            {
              "extractor": "css",
              "cssSelector": "table[summary*=\"Scan Information\"] tr, .scan-info tr, .business-info tr",
              "returnArray": true,
              "attribute": "text"
            }
          ]
        }
      },
      "id": "4d5e6f7g-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "HTML Extract - Scan Information",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1.2,
      "position": [
        940,
        200
      ],
      "notes": "html_parser.py - Scan Information parsing"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.html_content }}",
        "rules": {
          "rules": [
            {
              "extractor": "css",
              "cssSelector": ".competitor-row, .competitor, .competitor-listing, [class*=\"competitor\"]",
              "returnArray": true,
              "attribute": "outerHTML"
            }
          ]
        }
      },
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "HTML Extract - Competitors",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1.2,
      "position": [
        940,
        320
      ],
      "notes": "html_parser.py - Competitors parsing"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.html_content }}",
        "rules": {
          "rules": [
            {
              "extractor": "css",
              "cssSelector": ".sponsored-listing, .sponsored, .ad-listing, [class*=\"sponsored\"], [class*=\"ad\"]",
              "returnArray": true,
              "attribute": "outerHTML"
            }
          ]
        }
      },
      "id": "6f7g8h9i-0j1k-2l3m-4n5o-p6q7r8s9t0u1",
      "name": "HTML Extract - Sponsored",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1.2,
      "position": [
        940,
        440
      ],
      "notes": "html_parser.py - Sponsorlu listeler parsing"
    },
    {
      "parameters": {
        "functionCode": "// html_parser.py modülü fonksiyonalitesi\n// HTML parsing ile özet bilgileri çıkarır\n\nconst htmlContent = $input.first().json.html_content;\nconst scanInfo = $input.item(1).json || {};\n\n// Parse scan information\nfunction parseScanInformation(html) {\n  const results = {};\n  \n  // Extract business name\n  const businessNameMatch = html.match(/<h1[^>]*>([^<]+)<\\/h1>/i);\n  if (businessNameMatch) {\n    results['İşletme Adı'] = businessNameMatch[1].trim();\n  }\n  \n  // Extract address\n  const addressMatch = html.match(/<span[^>]*address[^>]*>([^<]+)<\\/span>/i);\n  if (addressMatch) {\n    results['Adres'] = addressMatch[1].trim();\n  }\n  \n  // Extract rating\n  const ratingMatch = html.match(/title=\"([0-9]+(?:[\\.,][0-9]+)?)\\s*out\\s*of\\s*5\"/i);\n  if (ratingMatch) {\n    results['Puan'] = ratingMatch[1].replace(',', '.');\n  }\n  \n  // Extract review count\n  const reviewMatch = html.match(/\\(\\s*([0-9]+)\\s*(?:Reviews?|Yorum)?\\s*\\)/i);\n  if (reviewMatch) {\n    results['Yorum Sayısı'] = reviewMatch[1];\n  }\n  \n  return results;\n}\n\n// Parse rank summary\nfunction parseRankSummary(html) {\n  const results = {};\n  \n  // Extract ranked locations\n  const rankedMatch = html.match(/Ranked Locations[^>]*>([^<]+)</i);\n  if (rankedMatch) {\n    results['Ranked Locations'] = rankedMatch[1].trim();\n  }\n  \n  // Extract average rank\n  const avgRankMatch = html.match(/Average rank[^>]*>([^<]+)</i);\n  if (avgRankMatch) {\n    results['Average rank (Ranked Locations)'] = avgRankMatch[1].trim();\n  }\n  \n  // Extract best rank\n  const bestRankMatch = html.match(/Best rank[^>]*>([^<]+)</i);\n  if (bestRankMatch) {\n    results['Best rank'] = bestRankMatch[1].trim();\n  }\n  \n  return results;\n}\n\nconst scanInformation = parseScanInformation(htmlContent);\nconst rankSummary = parseRankSummary(htmlContent);\n\nreturn {\n  ozet_bilgiler: {\n    ...scanInformation,\n    ...rankSummary,\n    'Tarih': new Date().toISOString().slice(0, 19).replace('T', ' ')\n  }\n};"
      },
      "id": "7g8h9i0j-1k2l-3m4n-5o6p-q7r8s9t0u1v2",
      "name": "Function - Parse Summary Info",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1160,
        200
      ],
      "notes": "html_parser.py - Özet bilgiler parsing"
    },
    {
      "parameters": {
        "functionCode": "// Competitors parsing (html_parser.py modülü)\nconst competitorsHtml = $input.first().json.data || [];\n\nfunction parseCompetitors(competitorElements) {\n  const competitors = [];\n  \n  competitorElements.forEach(element => {\n    if (typeof element === 'string' && element.includes('competitor')) {\n      const competitor = {};\n      \n      // Extract name\n      const nameMatch = element.match(/<[^>]*class[^>]*name[^>]*>([^<]+)</i);\n      if (nameMatch) competitor['İsim'] = nameMatch[1].trim();\n      \n      // Extract rating\n      const ratingMatch = element.match(/title=\"([0-9]+(?:[\\.,][0-9]+)?)\\s*out\\s*of\\s*5\"/i);\n      if (ratingMatch) competitor['Puan'] = ratingMatch[1].replace(',', '.');\n      \n      // Extract review count\n      const reviewMatch = element.match(/\\(\\s*([0-9]+)\\s*(?:Reviews?)?\\s*\\)/i);\n      if (reviewMatch) competitor['Yorum Sayısı'] = reviewMatch[1];\n      \n      // Extract address\n      const addressMatch = element.match(/<[^>]*class[^>]*address[^>]*>([^<]+)</i);\n      if (addressMatch) competitor['Adres'] = addressMatch[1].trim();\n      \n      // Extract website\n      const websiteMatch = element.match(/href=\"([^\"]+)\"/i);\n      if (websiteMatch) competitor['Web Sitesi'] = websiteMatch[1];\n      \n      // Set defaults\n      competitor['Kategoriler'] = competitor['Kategoriler'] || 'N/A';\n      competitor['Fotoğraf Sayısı'] = competitor['Fotoğraf Sayısı'] || '0';\n      competitor['Sahiplenme Durumu'] = competitor['Sahiplenme Durumu'] || 'Unknown';\n      competitor['Bulunduğu Konum Sayısı'] = competitor['Bulunduğu Konum Sayısı'] || '0';\n      competitor['Ortalama Sıralama'] = competitor['Ortalama Sıralama'] || '0';\n      \n      if (competitor['İsim']) {\n        competitors.push(competitor);\n      }\n    }\n  });\n  \n  return competitors;\n}\n\nconst competitors = parseCompetitors(competitorsHtml);\n\nreturn {\n  rakipler: competitors\n};"
      },
      "id": "8h9i0j1k-2l3m-4n5o-6p7q-r8s9t0u1v2w3",
      "name": "Function - Parse Competitors",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1160,
        320
      ],
      "notes": "html_parser.py - Competitors parsing"
    },
    {
      "parameters": {
        "functionCode": "// Sponsored listings parsing\nconst sponsoredHtml = $input.first().json.data || [];\n\nfunction parseSponsoredListings(sponsoredElements) {\n  const sponsored = [];\n  \n  sponsoredElements.forEach(element => {\n    if (typeof element === 'string') {\n      const listing = {};\n      \n      // Extract name\n      const nameMatch = element.match(/<[^>]*class[^>]*title[^>]*>([^<]+)</i);\n      if (nameMatch) listing['İsim'] = nameMatch[1].trim();\n      \n      // Extract description\n      const descMatch = element.match(/<[^>]*class[^>]*description[^>]*>([^<]+)</i);\n      if (descMatch) listing['Açıklama'] = descMatch[1].trim();\n      \n      // Extract link\n      const linkMatch = element.match(/href=\"([^\"]+)\"/i);\n      if (linkMatch) listing['Link'] = linkMatch[1];\n      \n      if (listing['İsim']) {\n        sponsored.push(listing);\n      }\n    }\n  });\n  \n  return sponsored;\n}\n\nconst sponsoredListings = parseSponsoredListings(sponsoredHtml);\n\nreturn {\n  sponsorlu_listeler: sponsoredListings\n};"
      },
      "id": "9i0j1k2l-3m4n-5o6p-7q8r-s9t0u1v2w3x4",
      "name": "Function - Parse Sponsored",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1160,
        440
      ],
      "notes": "html_parser.py - Sponsorlu listeler parsing"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.local-rank.report/scans/get-competitors-list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "scan_guid",
              "value": "={{ $json.javascript_data.scan_guid }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json,text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,tr;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "cors"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "same-origin"
            }
          ]
        },
        "options": {
          "timeout": 45000,
          "followRedirect": true,
          "ignoreResponseCode": false,
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "id": "0j1k2l3m-4n5o-6p7q-8r9s-t0u1v2w3x4y5",
      "name": "HTTP Request - API Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        560
      ],
      "notes": "api_client.py - Competitors API çağrısı"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.html_content }}",
        "rules": {
          "rules": [
            {
              "extractor": "css",
              "cssSelector": ".detailed-result, .result-detail, [class*=\"detail\"], .ranking-detail, .location-result",
              "returnArray": true,
              "attribute": "outerHTML"
            }
          ]
        }
      },
      "id": "detail-extract-001",
      "name": "HTML Extract - Detailed Results",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1.2,
      "position": [
        940,
        600
      ],
      "notes": "html_parser.py - Detaylı sonuçlar parsing"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.html_content }}",
        "rules": {
          "rules": [
            {
              "extractor": "css",
              "cssSelector": ".map-data, .location-data, [class*=\"map\"], [data-lat], [data-lng], .coords",
              "returnArray": true,
              "attribute": "outerHTML"
            }
          ]
        }
      },
      "id": "map-extract-001",
      "name": "HTML Extract - Map Data",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1.2,
      "position": [
        940,
        720
      ],
      "notes": "html_parser.py - Harita verileri parsing"
    },
    {
      "parameters": {
        "functionCode": "// Detailed results parsing\nconst detailedHtml = $input.first().json.data || [];\n\nfunction parseDetailedResults(detailElements) {\n  const details = [];\n  \n  detailElements.forEach(element => {\n    if (typeof element === 'string') {\n      const detail = {};\n      \n      // Extract ranking position\n      const rankMatch = element.match(/rank[^>]*>\\s*#?([0-9]+)|position[^>]*>\\s*([0-9]+)/i);\n      if (rankMatch) detail['Sıralama'] = rankMatch[1] || rankMatch[2];\n      \n      // Extract location name\n      const locationMatch = element.match(/location[^>]*>([^<]+)|city[^>]*>([^<]+)/i);\n      if (locationMatch) detail['Konum'] = (locationMatch[1] || locationMatch[2]).trim();\n      \n      // Extract distance\n      const distanceMatch = element.match(/([0-9]+(?:[\\.,][0-9]+)?)\\s*km/i);\n      if (distanceMatch) detail['Mesafe'] = distanceMatch[1] + ' km';\n      \n      // Extract search volume\n      const volumeMatch = element.match(/volume[^>]*>([^<]+)|searches[^>]*>([^<]+)/i);\n      if (volumeMatch) detail['Arama Hacmi'] = (volumeMatch[1] || volumeMatch[2]).trim();\n      \n      // Extract business name for this location\n      const businessMatch = element.match(/business[^>]*>([^<]+)|name[^>]*>([^<]+)/i);\n      if (businessMatch) detail['İşletme'] = (businessMatch[1] || businessMatch[2]).trim();\n      \n      if (detail['Sıralama'] || detail['Konum'] || detail['İşletme']) {\n        details.push(detail);\n      }\n    }\n  });\n  \n  return details;\n}\n\nconst detailedResults = parseDetailedResults(detailedHtml);\n\nreturn {\n  detayli_sonuclar: detailedResults\n};"
      },
      "id": "parse-details-001",
      "name": "Function - Parse Detailed Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1160,
        600
      ],
      "notes": "html_parser.py - Detaylı sonuçlar parsing"
    },
    {
      "parameters": {
        "functionCode": "// Map data parsing\\nconst mapHtml = $input.first().json.data || [];\\n\\nfunction parseMapData(mapElements) {\\n  const mapData = [];\\n  \\n  mapElements.forEach(element => {\\n    if (typeof element === 'string') {\\n      const location = {};\\n      \\n      // Extract latitude with simple patterns\\n      const latMatch = element.match(/data-lat=.([0-9.-]+).|latitude.>([^<]+)/i);\\n      if (latMatch) location['Enlem'] = latMatch[1] || latMatch[2];\\n      \\n      // Extract longitude with simple patterns\\n      const lngMatch = element.match(/data-lng=.([0-9.-]+).|longitude.>([^<]+)/i);\\n      if (lngMatch) location['Boylam'] = lngMatch[1] || lngMatch[2];\\n      \\n      // Extract address\\n      const addressMatch = element.match(/address[^>]*>([^<]+)/i);\\n      if (addressMatch) location['Adres'] = addressMatch[1].trim();\\n      \\n      // Extract marker info\\n      const markerMatch = element.match(/title[^>]*>([^<]+)/i);\\n      if (markerMatch) location['Marker Bilgisi'] = markerMatch[1];\\n      \\n      if (location['Enlem'] || location['Boylam'] || location['Adres']) {\\n        mapData.push(location);\\n      }\\n    }\\n  });\\n  \\n  return mapData;\\n}\\n\\nconst mapResults = parseMapData(mapHtml);\\n\\nreturn {\\n  harita_verileri: mapResults\\n};"
      },
      "id": "parse-map-001",
      "name": "Function - Parse Map Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1160,
        720
      ],
      "notes": "html_parser.py - Harita verileri parsing"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-1-summary-competitors",
      "name": "Merge - Summary + Competitors",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1380,
        260
      ],
      "notes": "Özet ve Rakipleri birleştirir"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-2-add-sponsored",
      "name": "Merge - + Sponsored",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1500,
        320
      ],
      "notes": "Sponsorlu verileri ekler"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-4-details",
      "name": "Merge - + Details",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1600,
        400
      ],
      "notes": "Detaylı sonuçları ekler"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-5-map-data",
      "name": "Merge - + Map Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1800,
        450
      ],
      "notes": "Harita verilerini ekler"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-3-add-api",
      "name": "Merge - + API",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1600,
        360
      ],
      "notes": "API verilerini ekler"
    },
    {
      "parameters": {
        "functionCode": "// data_exporter.py modülü fonksiyonalitesi - UPDATED VERSION\n// Tüm verileri birleştir ve metadata ekle\n\nconst ozet = $input.all().find(item => item.json.ozet_bilgiler)?.json.ozet_bilgiler || {};\nconst rakipler = $input.all().find(item => item.json.rakipler)?.json.rakipler || [];\nconst sponsorlu = $input.all().find(item => item.json.sponsorlu_listeler)?.json.sponsorlu_listeler || [];\nconst detayliSonuclar = $input.all().find(item => item.json.detayli_sonuclar)?.json.detayli_sonuclar || [];\nconst haritaVerileri = $input.all().find(item => item.json.harita_verileri)?.json.harita_verileri || [];\nconst jsData = $input.all().find(item => item.json.javascript_data)?.json.javascript_data || {};\nconst apiData = $input.all().find(item => item.json.api_data)?.json.api_data || {};\n\n// Enhanced map data from JavaScript pinz array\nconst enhancedMapData = [...haritaVerileri];\nif (jsData.pinz_array && jsData.pinz_array.length > 0) {\n  jsData.pinz_array.forEach((pin, index) => {\n    enhancedMapData.push({\n      'Index': index + 1,\n      'Source': 'JavaScript',\n      'Latitude': pin.lat || 'N/A',\n      'Longitude': pin.lng || 'N/A',\n      'Title': pin.title || 'N/A',\n      'URL': pin.url || 'N/A',\n      'Rank': pin.rank || 'N/A',\n      'Distance': pin.distance || 'N/A'\n    });\n  });\n}\n\n// Enhanced JavaScript data with validation\nconst enhancedJsData = {\n  pinz: jsData.pinz_array || [],\n  scan_guid: jsData.scan_guid || '',\n  place_id: jsData.place_id || '',\n  validation: jsData.validation || {},\n  pinz_count: (jsData.pinz_array || []).length\n};\n\n// Enhanced API data\nconst enhancedApiData = {\n  analytics_data: apiData.analytics_data || [],\n  competitors_data: apiData.competitors_data || [],\n  ranking_data: apiData.ranking_data || []\n};\n\n// Final data structure - COMPLETE\nconst finalData = {\n  ozet_bilgiler: ozet,\n  rakipler: rakipler,\n  sponsorlu_listeler: sponsorlu,\n  detayli_sonuclar: detayliSonuclar,\n  harita_verileri: enhancedMapData,\n  api_verileri: enhancedApiData,\n  javascript_verileri: enhancedJsData,\n  metadata: {\n    scraped_at: new Date().toISOString(),\n    url: 'https://www.local-rank.report/scan/97919fde-e478-4081-983f-7e0065b6b5bb',\n    scraper_version: '4.1',\n    method: 'modular_hybrid_enhanced',\n    selenium_used: false,\n    total_competitors: rakipler.length,\n    total_sponsored: sponsorlu.length,\n    total_detailed_results: detayliSonuclar.length,\n    total_map_points: enhancedMapData.length,\n    parsing_success: {\n      js_data: Object.keys(jsData).length > 0,\n      competitors: rakipler.length > 0,\n      sponsored: sponsorlu.length > 0,\n      summary: Object.keys(ozet).length > 0\n    }\n  }\n};\n\nreturn {\n  data: JSON.stringify(finalData, null, 2)\n};"
      },
      "id": "3m4n5o6p-7q8r-9s0t-1u2v-w3x4y5z6a7b8",
      "name": "Function - Combine All Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1760,
        360
      ],
      "notes": "data_exporter.py - Veri birleştirme"
    },

    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || '@your_channel' }}",
        "text": "🏢 *Local Rank Report*\\n\\n📊 *İşletme:* {{ $json.ozet_bilgiler['İşletme Adı'] || 'N/A' }}\\n📍 *Adres:* {{ $json.ozet_bilgiler['Adres'] || 'N/A' }}\\n⭐ *Puan:* {{ $json.ozet_bilgiler['Puan'] || 'N/A' }}\\n💬 *Yorumlar:* {{ $json.ozet_bilgiler['Yorum Sayısı'] || 'N/A' }}\\n\\n📈 *Sıralama Bilgileri:*\\n🎯 En İyi Sıralama: {{ $json.ozet_bilgiler['Best rank'] || 'N/A' }}\\n📊 Ortalama Sıralama: {{ $json.ozet_bilgiler['Average rank (Ranked Locations)'] || 'N/A' }}\\n📍 Sıralanan Lokasyon: {{ $json.ozet_bilgiler['Ranked Locations'] || 'N/A' }}\\n\\n🏆 *Rakip Sayısı:* {{ ($json.rakipler || []).length }}\\n📢 *Sponsorlu Liste:* {{ ($json.sponsorlu_listeler || []).length }}\\n\\n✅ Rapor hazırlandı: {{ $now.format('DD.MM.YYYY HH:mm') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-node-001",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1980,
        400
      ],
      "notes": "Telegram bildirimi gönder"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "={{ 'full_data_' + $now.format('YYYYMMDD_HHmmss') + '.xlsx' }}",
          "sheetName": "Tüm Veriler"
        }
      },
      "id": "6p7q8r9s-0t1u-2v3w-4x5y-z6a7b8c9d0e1",
      "name": "Convert to File - Excel",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1980,
        520
      ],
      "notes": "Excel dosyası oluştur"
    },
    {
      "parameters": {
        "message": "Workflow completed successfully! All data has been scraped and exported to JSON, CSV, and Excel files."
      },
      "id": "8r9s0t1u-2v3w-4x5y-6z7a-b8c9d0e1f2g3",
      "name": "Stop - Success",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2200,
        360
      ],
      "notes": "Workflow başarılı tamamlandığında durdur"
    },
    {
      "parameters": {
        "message": "Workflow failed! Error occurred during scraping process.",
        "errorMessage": "={{ $json.error || 'An unexpected error occurred during the scraping process. Please check the workflow logs for more details.' }}"
      },
      "id": "9s0t1u2v-3w4x-5y6z-7a8b-c9d0e1f2g3h4",
      "name": "Stop and Error - Failure",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1380,
        600
      ],
      "notes": "Hata durumunda workflow'u durdur ve hata mesajı ver"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request - Get HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get HTML": {
      "main": [
        [
          {
            "node": "Function - Extract JS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Extract JS Data": {
      "main": [
        [
          {
            "node": "HTML Extract - Scan Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Extract - Competitors",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Extract - Sponsored",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Extract - Detailed Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML Extract - Map Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - API Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract - Scan Information": {
      "main": [
        [
          {
            "node": "Function - Parse Summary Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract - Competitors": {
      "main": [
        [
          {
            "node": "Function - Parse Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract - Sponsored": {
      "main": [
        [
          {
            "node": "Function - Parse Sponsored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Parse Summary Info": {
      "main": [
        [
          {
            "node": "Merge - Summary + Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Parse Competitors": {
      "main": [
        [
          {
            "node": "Merge - Summary + Competitors",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Summary + Competitors": {
      "main": [
        [
          {
            "node": "Merge - + Sponsored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Parse Sponsored": {
      "main": [
        [
          {
            "node": "Merge - + Sponsored",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTML Extract - Detailed Results": {
      "main": [
        [
          {
            "node": "Function - Parse Detailed Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract - Map Data": {
      "main": [
        [
          {
            "node": "Function - Parse Map Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Parse Detailed Results": {
      "main": [
        [
          {
            "node": "Merge - + Details",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Function - Parse Map Data": {
      "main": [
        [
          {
            "node": "Merge - + Map Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - + Sponsored": {
      "main": [
        [
          {
            "node": "Merge - + Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - + Details": {
      "main": [
        [
          {
            "node": "Merge - + Map Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - + Map Data": {
      "main": [
        [
          {
            "node": "Merge - + API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - API Competitors": {
      "main": [
        [
          {
            "node": "Merge - + API",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - + API": {
      "main": [
        [
          {
            "node": "Function - Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Combine All Data": {
      "main": [
        [
          {
            "node": "Convert to File - Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "Convert to File - Excel": {
      "main": [
        [
          {
            "node": "Stop - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Stop - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract - Detailed Results": {
      "main": [
        [
          {
            "node": "Function - Parse Detailed Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract - Map Data": {
      "main": [
        [
          {
            "node": "Function - Parse Map Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Parse Detailed Results": {
      "main": [
        [
          {
            "node": "Merge - + Details",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Function - Parse Map Data": {
      "main": [
        [
          {
            "node": "Merge - + Map Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "scraping",
      "name": "Web Scraping"
    },
    {
      "id": "local-rank",
      "name": "Local Rank Report"
    },
    {
      "id": "modular",
      "name": "Modular"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-08T10:00:00.000Z",
  "versionId": "2"
}