simple-telegram-ai-bot.json
{
  "meta": {
    "instanceId": "awesome-n8n-telegram-bot-001"
  },
  "nodes": [
    {
      "id": "telegram-trigger-001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [200, 300],
      "webhookId": "telegram-webhook-001",
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot API"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "openai-chat-model-001",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [400, 500],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "window-buffer-memory-001",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [600, 500],
      "parameters": {
        "sessionIdTemplate": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "typeVersion": 1.2
    },
    {
      "id": "ai-agent-001",
      "name": "AI Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [500, 300],
      "parameters": {
        "text": "={{ $json.message.text }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Sen T羹rk癟e konuan yard覺mc覺 bir asistans覺n. Kullan覺c覺lara dost癟a ve samimi bir ekilde yard覺m et. Emoji kullanmay覺 unutma! "
        }
      },
      "typeVersion": 1.6
    },
    {
      "id": "telegram-response-001",
      "name": "Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "position": [800, 300],
      "parameters": {
        "operation": "sendMessage",
        "text": "={{ $json.output }}",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot API"
        }
      },
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Assistant": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}